<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>COELog</servlet-name>
        <servlet-class>HallTicket.Logs.COELog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentReg</servlet-name>
        <servlet-class>HallTicket.Reg.StudentReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentActivate</servlet-name>
        <servlet-class>HallTicket.Actions.StudentActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentReject</servlet-name>
        <servlet-class>HallTicket.Actions.StudentReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addsubjects</servlet-name>
        <servlet-class>HallTicket.Actions.addsubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudLog</servlet-name>
        <servlet-class>HallTicket.Logs.StudLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallTicketReq</servlet-name>
        <servlet-class>HallTicket.Actions.HallTicketReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTApprove</servlet-name>
        <servlet-class>HallTicket.Actions.HTApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTReject</servlet-name>
        <servlet-class>HallTicket.Actions.HTReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTDownload</servlet-name>
        <servlet-class>HallTicket.Actions.HTDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvigilatorLogs</servlet-name>
        <servlet-class>HallTicket.Logs.InvigilatorLogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HTVerification</servlet-name>
        <servlet-class>HallTicket.Actions.HTVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>COELog</servlet-name>
        <url-pattern>/COELog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentReg</servlet-name>
        <url-pattern>/StudentReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentActivate</servlet-name>
        <url-pattern>/StudentActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentReject</servlet-name>
        <url-pattern>/StudentReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addsubjects</servlet-name>
        <url-pattern>/addsubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudLog</servlet-name>
        <url-pattern>/StudLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallTicketReq</servlet-name>
        <url-pattern>/HallTicketReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTApprove</servlet-name>
        <url-pattern>/HTApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTReject</servlet-name>
        <url-pattern>/HTReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTDownload</servlet-name>
        <url-pattern>/HTDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvigilatorLogs</servlet-name>
        <url-pattern>/InvigilatorLogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HTVerification</servlet-name>
        <url-pattern>/HTVerification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
